article {
  display: inline-block;
  margin: 20px;
  width: 25%;
  text-align: center;

  a {
    text-decoration: none;
  }

  @media (max-width: 393px) {
    width: 100%;
    margin-left: 60px;

    img {
      padding: 10px;
    }
  }
}
